<!DOCTYPE html>
<html>
  <style>
    body {
        margin: 0;
        padding: 0;
    }

    .logo{
        font-size: 50px;
        position: absolute;
        top: -42px;
        left: 20px;
    }

    .blue-rectangle {
        background-color: #09cffb;
        height: 75px;
        width: 100%;
    }

    .black-rectangle {
        background-color: black;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 75px;
    }

    .main_title{
        font-size: 75px;
        position: absolute;
        top: 300px;
        left: 28%;
    }

    .text{
        font-size: 40px;
        position: absolute;
        top: 330px;
        left: 28%;
    }

    .btn1 {
      color: black;
      font-size: 30px;
      border: 1px solid black;
      border-radius: 90px;
      width: 253px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      top: 500px;
      left: 28%;
      height: 60px;
      background: #09cffb;
    }
    
    .btn2 {
      color: black;
      font-size: 30px;
      border: 1px solid black;
      border-radius: 90px;
      width: 253px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      top: 500px;
      left: 42%;
      height: 60px;
      background: #09cffb;
    }

    .btn3 {
      color: black;
      font-size: 30px;
      border: 1px solid black;
      border-radius: 90px;
      width: 253px;
      text-align: center;
      line-height: 30px;
      position: absolute;
      top: 500px;
      left: 56%;
      height: 60px;
      background: #09cffb;
    }

  </style>
  <head>
    <title>ePaint</title>
  </head>
  <body>
    <p class="logo">ePaint</p>
    <div class="blue-rectangle"></div>
    <div class="black-rectangle"></div>
    <header class="main_title">ePaint</header>
    <p class="text">when social media and art come together</p>
    <a href="/Login_Page"><button class="btn1">Log In</button></a>
   <a href="/Sign_Up_Page"><button class="btn2">Sign In</button></a>
    <a href="/Painter_Page_Guest_Version"><button class="btn3">Enter As A Guest</button></a>
  </body>
</html>
